@import url(https://db.onlinewebfonts.com/c/67d4a5eec5fec4085dbd01cb3f96ff7c?family=Uncut+Sans);
@import url(https://db.onlinewebfonts.com/c/83569c5d01a8f3991872544736650ae2?family=Basement+Grotesque+Roman);
@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

.uncut {
    font-family: "Uncut Sans";
}

.basement {
    font-family: "Basement Grotesque Roman";
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}